attached_assets/ScreenRecording_06-06-2026_22-30-05_1_1780812011667.mov filter=lfs diff=lfs merge=lfs -text
attached_assets/MEDUSA_-_LUIS_R_X_TPP_MASTER_FINAL_CELULAR_Herp_Clip_1784043091778.mov filter=lfs diff=lfs merge=lfs -text
